include: "/etc/unbound/resolvconf.conf"

server:
  use-syslog: yes
  do-daemonize: no
  username: "unbound"
  directory: "/etc/unbound"
  trust-anchor-file: trusted-key.key
  tls-cert-bundle: /etc/ssl/certs/ca-certificates.crt

  unblock-lan-zones: yes
  insecure-lan-zones: yes

  # The next three lines enable forwarding of the
  # test special-use domain. This domain is useful
  # for local development (e.g. for minikube ingress).
  local-zone: "test." nodefault
  private-domain: "test"
  domain-insecure: "test"

{% for domain in unbound_private_domains %}
  private-domain: "{{domain}}"
  domain-insecure: "{{domain}}"
{% endfor %}

forward-zone:
  name: "."
  forward-tls-upstream: yes
  forward-addr: 9.9.9.9@853          #dns.quad9.net IPv4 primary
  forward-addr: 149.112.112.112@853  #dns.quad9.net IPv4 secondary
  forward-addr: 2620:fe::fe@853      #dns.quad9.net IPv6 primary
  forward-addr: 2620:fe::9@853       #dns.quad9.net IPv6 secondary
