# Private Ansible playbook
#
# Copyright (C) 2018 T. Himmelstoss
#
# This software may be freely distributed under the MIT license. You should
# have received a copy of the MIT License along with this program.

OS_REL_FILE="{{uefi_kernel_update_os_rel_file}}"
LINUX_IMAGE="{{uefi_kernel_update_linux_image}}"
KERNEL_COMMAND_LINE="{{uefi_kernel_update_kernel_command_line}}"
SPLASH_FILE="{{uefi_kernel_update_splash_file}}"
INITRD_FILE="{{uefi_kernel_update_initrd_file}}"
EFI_STUB_FILE="{{uefi_kernel_update_stub_file}}"
OUTPUT_FILE="{{uefi_kernel_update_output_file}}"

